@import './animations';
@import './colours';
@import './normalize';
@import './typography';


header.top {
    background: url("images/burger-logo-4.jpg") center no-repeat;
    background-size: cover;
    color: #fff;
  }
  header.top .wrap {
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(61,26,22,0), rgba(61,26,22,0.6));
  }
  header.top .header-content {
    padding: 4rem 0;
    margin: 0 4rem;
  }
  header.top .header-content .header-rating {
    padding: 4px 8px;
    background-color: #ffe033;
    display: inline-flex;
    border-radius: 18px;
    align-items: center;
    font-size: 1.4rem;
  }
  header.top .header-content .header-rating .header-rating_tag {
    color: #000;
    margin-right: 5px;
  }
  header.top .header-content .header-divider {
    height: 1px;
    opacity: 0.2;
    margin-top: 20px;
    margin-bottom: 8px;
    background-color: #fff;
  }
  header.top .header-content h1 {
    font-size: 3.4rem;
  }
  header.top .header-content h3 {
    margin: 0;
    font-size: 2rem;
  }
  header.top .header-content .sub-header {
    color: #f00;
  }
  .burger-paradise {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
    grid-gap: 10px;
    height: 94vh;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 2vh;
  }
  .burger-paradise > * {
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 1px #eee;
  }
  .burger-paradise > *:first-child {
    background: #ededed;
  }
  .burger-paradise > *:nth-child(2) {
    padding: 2rem 0;
    overflow-y: hidden;
    background: #f2f2f2;
    border-radius: 4px;
  }
  .burger-paradise > *:last-child {
    background: #ededed;
    padding: 2rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 2rem;
  }
  ul.order li {
    border-bottom: 1px solid #000;
    padding: 2rem 0 2rem 0.2rem;
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
    align-items: center;
  }
  ul.order li button {
    border: 0;
    display: inline;
    line-height: 1;
    padding: 0 4px;
    background: transparent;
    color: #f00;
  }
  ul.order li button:after {
    display: none;
  }
  ul.order li span.count {
    position: relative;
    overflow: hidden;
    float: left;
  }
  ul.order li span.count span {
    display: inline-block;
  }
  .nothingSelected {
    text-align: center;
    margin: 0 10px;
  }
  .total {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    border-bottom: 3px solid #000;
    border-top: 3px double #000;
  }
  .total_wrap {
    padding: 1rem 2rem;
  }
  .total_wrap-free {
    font-size: 1.2rem;
  }
  .total_wrap-final {
    margin-top: 10px;
  }
  .total_wrap-cheap {
    font-weight: 300;
  }
  .unavailable {
    background: #f8d0d2;
  }
  .price {
    font-size: 1.2rem;
  }
  .order-title {
    text-align: center;
  }
  .burger-edit {
    margin-bottom: 20px;
    border: 2px solid #000;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 450px;
  }
  .burger-edit input,
  .burger-edit textarea,
  .burger-edit select {
    width: 50%;
    padding: 10px;
    line-height: 1;
    font-size: 1.2rem;
    border: 0;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    appearance: none;
    border-radius: 0;
    background: #fff;
  }
  .burger-edit input:focus,
  .burger-edit textarea:focus,
  .burger-edit select:focus {
    outline: 0;
    background: #fff2d9;
  }
  .burger-edit textarea {
    width: 100%;
    min-height: 60px;
  }
  .burger-edit input:last-of-type {
    width: 100%;
  }
  .burger-edit button {
    width: 100%;
    border: 0;
    font-size: 1.2rem;
  }
  .burger-edit .status {
    width: 100%;
  }
  .menu-burger {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff;
    padding: 2rem;
    border-radius: 4px;
  }
  .menu-burger p {
    margin: 5px 0;
    font-size: 1.6rem;
  }
  .menu-burger .burger-name {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-burger .price {
    font-size: 1.4rem;
    justify-content: flex-end;
    font-family: 'Open Sans', sans-serif;
  }
  .menu-burger img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .buttonOrder {
    transform: skew(-2deg);
  }
  button,
  input[type=submit] {
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    border: none;
    background: #f00;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    transition: all 0.2s;
    position: relative;
    z-index: 2;
  }
  button[disabled],
  input[type=submit][disabled] {
    color: #d12028;
    background: #fff;
    transform: rotate(-10deg) scale(1.5) translateX(40%) translateY(-50%);
    border: 1px solid #d12028;
  }
  button[disabled]:hover,
  input[type=submit][disabled]:hover {
    color: #d12028;
    cursor: not-allowed;
  }
  button[disabled]:after,
  input[type=submit][disabled]:after {
    display: none;
  }
  button:after,
  input[type=submit]:after {
    content: '';
    z-index: -1;
    display: block;
    background: #000;
    position: absolute;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 0.2s;
  }
  button:hover,
  input[type=submit]:hover,
  button:focus,
  input[type=submit]:focus {
    color: #fff;
    outline: 0;
  }
  button:hover:after,
  input[type=submit]:hover:after,
  button:focus:after,
  input[type=submit]:focus:after {
    width: 100%;
  }
  button.warning:after,
  input[type=submit].warning:after {
    background: #d12028;
  }
  button.success:after,
  input[type=submit].success:after {
    background: #008000;
  }
  button.github,
  input[type=submit].github {
    border: 0;
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    color: #fff;
    padding: 2rem;
    border: 5px solid #fff;
    font-size: 1.6rem;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.05);
  }
  

.login-container {
    max-width: 400px;
    margin: 200px auto 0;
  }
  .login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .login-header .avatar {
    display: inline-block; /* circle wraps image */
    margin: 5px;
    border: 2px solid rgba(255,255,255,0.4);
    border-radius: 50%; /* relative value */
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    transition: linear 0.25s;
    height: 50px;
    width: 50px;
  }
  .login-header .avatar img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }
  


.restaurant-select {
	background: #fff;
	max-width: 460px;
	margin: 200px auto;
	padding: 40px;
	position: relative;
	box-shadow: 0 0 0 10px rgba(255,255,255,0.1), 0 0 10px rgba(0,0,0,0.18);
}

.restaurant-select__top {
	position: relative;
	max-width: 380px;
	display: flex;
	justify-content: space-between;
}

.restaurant-select__top-header {
	font-size: 2.4rem;
	text-transform: uppercase;
	margin: 0;
	line-height: 1.4;
	cursor: pointer;
}

.restaurant-select button {
	margin-top: 10px;
}

.restaurant-select .arrow-picker {
	position: absolute;
  top: 30%;
  right: 20px;
}

.restaurant-select .arrow-picker__up {
	background: url("images/up.svg") no-repeat;
	background-size: auto;
	background-size: 100% auto;
	width: 13px;
	height: 12px;
	top: 0;
	cursor: pointer;
	margin-bottom: 5px;
}

.restaurant-select .arrow-picker__down {
	background: url("images/down.svg") no-repeat;
	background-size: auto;
	background-size: 100% auto;
	width: 13px;
	height: 12px;
	cursor: pointer;
}

.restaurant-select__bottom {
	position: absolute;
	padding: 10px 20px;
	border: 2px solid #000;
	top: 85px;
	left: 40px;
	min-width: 350px;
	background: #fff;
}

.restaurant-select__bottom ul {
	padding: 0 0 0 10px;
}

.restaurant-select__bottom ul li {
	cursor: pointer;
	list-style: none;
	padding: 5px 0;
}

.restaurant-select__bottom ul li::before {
	content: '■';
	margin-right: 0.5rem;
	color: #f00;
}